        *{
            box-sizing: border-box;
            
        }
        
        body{
            font-family: Helvetica, Arial, sans-serif;
        }
       
        
        .container{
            
            width:100%;
        }
        
        header{
          
           text-align: center;
            margin: 50px;
            font-size:24px;
            font-weight: bold;
        }
    
        .title{
            float: right;
            font-size: 16px;
            font-weight: bold;
            border: 1px solid black;
            padding: 5px 40px;
            position: relative;
            top: -30px;
            left: 33px;
            
        }
        
        .color1{
             background-color: crimson;
        }
        
         .color2{
             background-color:deepskyblue;
        }
        
         .color3{
             background-color:yellow;
        }
        
      
        
          p{
           
            border: 1px solid black;
             width: 90%;
              height: 170px;
              margin-right: auto;
              margin-left: auto;
            background-color: grey;
            margin-bottom: 10px;
              padding: 30px;
             overflow: hidden;
            
            
        }
    
        @media(min-width:992px){
            .col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12
            {
               float: left;
               
            }
            
            .col-lg-1{
                width: 8.33%;
            }
             .col-lg-2{
                width: 16.66%;
            }
             .col-lg-3{
                width: 25%;
            }
             .col-lg-4{
                width: 33%;
            }
             .col-lg-5{
                width: 41.66%;
            }
             .col-lg-6{
                width: 50%;
            }
             .col-lg-7{
                width: 58.33%;
            }
             .col-lg-8{
                width: 66.66%;
            }
             .col-lg-9{
                width: 74.99%;
            }
             .col-lg-10{
                width: 83.33%;
            }
             .col-lg-11{
                width: 91.66%;
            }
             .col-lg-12{
                width: 100%;
            }
        }
        
         @media(min-width:768px) and (max-width:991px){
            .col-mg-1,.col-mg-2,.col-mg-3,.col-mg-4,.col-mg-5,.col-mg-6,.col-mg-7,.col-mg-8,.col-mg-9,.col-mg-10,.col-mg-11,.col-mg-12
            {
               float: left;
               
            }
            
            .col-mg-1{
                width: 8.33%;
            }
             .col-mg-2{
                width: 16.66%;
            }
             .col-mg-3{
                width: 25%;
            }
             .col-mg-4{
                width: 33%;
            }
             .col-mg-5{
                width: 41.66%;
            }
             .col-mg-6{
                width: 50%;
            }
             .col-mg-7{
                width: 58.33%;
            }
             .col-mg-8{
                width: 66.66%;
            }
             .col-mg-9{
                width: 74.99%;
            }
             .col-mg-10{
                width: 83.33%;
            }
             .col-mg-11{
                width: 91.66%;
            }
             .col-mg-12{
                width: 100%;
            }
        }
        
          @media(max-width:767px){
            .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12
            {
                 float: left;
                
            }
            
            .col-sm-1{
                width: 8.33%;
            }
             .col-sm-2{
                width: 16.66%;
            }
             .col-sm-3{
                width: 25%;
            }
             .col-sm-4{
                width: 33%;
            }
             .col-sm-5{
                width: 41.66%;
                
            }
             .col-sm-6{
                width: 50%;
            }
             .col-sm-7{
                width: 58.33%;
            }
             .col-sm-8{
                width: 66.66%;
            }
             .col-sm-9{
                width: 74.99%;
            }
             .col-sm-10{
                width: 83.33%;
            }
             .col-sm-11{
                width: 91.66%;
            }
             .col-sm-12{
                width: 100%;
            }
        }
        